@import '../../App.scss';

@media(max-width:790px) {
    .third{
        .zagolovok{
            font-size: 32px;
            line-height: 41.6px;
            margin-top: 60px;
            margin-bottom: 40px;
        }
        .elements{
            display: flex;
            flex-wrap: wrap;
            grid-gap: 40px;
            .element{
                width: 353px !important;
                .elFoto{
                    position: relative;
                    width: 353px !important;
                    margin-bottom: 24px;
                  
                    .elName{
                        position: absolute;
                        left: 20px;
                        top: 165px;
                        font-size: 24px;
                        line-height: 27.6px;
                    }
                }
                .elText{
                    font-size: 16px;
                    line-height: 24px;
                }
        
            }
        }
    }
}
@media(min-width:790px) and (max-width:1245px){
    .third{
        .zagolovok{
            font-size: 40px;
            line-height: 52px;
            margin-top: 100px;
            margin-bottom: 60px;
        }
        .elements{
            display: flex;
            grid-gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            .element{
                width: 362px;
                .elFoto{
                    position: relative;
                    width: 100%;
                    margin-bottom: 24px;
                    
                    .elName{
                        position: absolute;
                        left: 30px;
                        top: 195px;
                        font-size: 24px;
                        line-height: 27.6px;
                    }
                }
                .elText{
                    font-size: 16px;
                    line-height: 24px;
                }
        
            }
        }
    }
}
@media(max-width:1280px) and (min-width:1245px){
    .third{
        .zagolovok{
            font-size: 40px;
            line-height: 52px;
            margin-top: 100px;
            margin-bottom: 80px;
        }
        .elements{
            display: flex;
            grid-gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            .element{
                width: 390px;
                .elFoto{
                    position: relative;
                    width: 100%;
                    margin-bottom: 24px;
                    .elName{
                        position: absolute;
                        left: 30px;
                        top: 195px;
                        font-size: 24px;
                        line-height: 27.6px;
                    }
                }
                .elText{
                    font-size: 16px;
                    line-height: 24px;
                }
        
            }
        }
    }
}
@media(min-width:1280px){
    .third{
        .zagolovok{
            font-size: 40px;
            line-height: 52px;
            margin-top: 100px;
            margin-bottom: 80px;
        }
        .elements{
            display: flex;
            grid-gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            .element{
                width: 390px;
                .elFoto{
                    position: relative;
                    width: 100%;
                    margin-bottom: 24px;
                    .elName{
                        position: absolute;
                        left: 30px;
                        top: 195px;
                        font-size: 24px;
                        line-height: 27.6px;
                    }
                }
                .elText{
                    font-size: 16px;
                    line-height: 24px;
                }
        
            }
        }
    }
}
.third{
    .zagolovok{
        font-family: $fonts;
        color: $h-color;
        font-weight: 700;
        text-align: center;
    }
    .elements{
        .element{
            .elFoto{
                img{
                    width: 100%;
                }
                .elName{
                    font-family: $fonts;
                    color: $white-color;
                    font-weight: 700;
                }
            }
            .elText{
                font-family: $fonts;
                color: $p-color;
                font-weight: 400;
            }
    
        }
    }
    .button{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 100px;
        button{
            width: 184px;
            height: 56px;
            background-color: $h-color;
            border: none;
            border-radius: 12px;
            text-align: center;
            a{
                text-decoration: none;
                font-family: $fonts;
                color: $white-color;
                font-size: 14px;
                width: 184px !important;
                height: 56px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
            a:hover{
                color: $h-color;
            }
        }
        button:hover{
            background-color: $white-color;
            border: 2px solid $h-color;
        }
    }
}