@import '../../App.scss';

@media(max-width:790px){
    .headerBack{
        position: absolute;
        top: 20px;
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 29px;
            .menu{
                display: none !important;
                
            }
            .logo{
                height: 24px !important;
            }
            .right{
                display: flex;
                grid-gap: 5px;
                .phone{
                    font-size: 15px !important;
                    line-height: 24px !important;
                }
                .translate{
                    display: flex;
                    grid-gap: 3px !important;
                    .btns{
                        font-size: 15px !important;
                        line-height: 24px !important;
                    }
                    .line{
                        height: 24px !important;
                        width: 0;
                    }
                }
            }
        }
    }
}
@media(max-width:1245px) and (min-width:790px){
    .headerBack{
        position: absolute;
        top: 49px;
        height: 59px;
        width: 100%;
        display: flex;
        align-items: center;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 29px;
            .menu{
                display: none !important;
                
            }
            .right{
                display: flex;
                grid-gap: 15px;
                .phone{
                    font-size: 19px;
                    line-height: 28.5px;
                }
                .translate{
                    display: flex;
                    grid-gap: 5px;
                    .btns{
                        font-size: 19px;
                        line-height: 28.5px;
                    }
                    .line{
                        height: 28.5px;
                        width: 0;
                    }
                }
            }
        }
    }
}
@media(max-width:1280px) and (min-width:1245px){
    .headerBack{
        position: absolute;
        top: 49px;
        height: 59px;
        width: 100%;
        display: flex;
        align-items: center;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 29px;
            .menu{
                display: flex;
                grid-gap: 30px;
                width: 568px;
                .reference{
                    font-size: 19px;
                    line-height: 28.5px;
                }
            }
        
            .right{
                display: flex;
                grid-gap: 20px;
                .phone{
                    font-size: 19px;
                    line-height: 28.5px;
                }
                .translate{
                    display: flex;
                    grid-gap: 5px;
                    .btns{
                        font-size: 19px;
                        line-height: 28.5px;
                    }
                    .line{
                        height: 28.5px;
                        width: 0;
                    }
                }
            }
        }
    }
}
@media(min-width:1280px){
    .headerBack{
        position: absolute;
        top: 49px;
        height: 59px;
        width: 100%;
        display: flex;
        align-items: center;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 29px;
            .menu{
                display: flex;
                grid-gap: 30px;
                width: 568px;
                
                .reference{
                    font-size: 19px;
                    line-height: 28.5px;
                }
            }
        
            .right{
                display: flex;
                grid-gap: 20px;
                .phone{
                    font-size: 19px;
                    line-height: 28.5px;
                }
                .translate{
                    display: flex;
                    grid-gap: 5px;
                    .btns{
                        font-size: 19px;
                        line-height: 28.5px;
                    }
                    .line{
                        height: 28.5px;
                        width: 0;
                    }
                }
            }
        }
    }
}
.headerBack{
    .header{
        .logo:hover{
            cursor: pointer;
        }
        .menu{
            .reference{
                font-family: $fonts;
                color: $white-color;
                font-weight: 400;
            }
            .reference:hover{
                cursor: pointer;
                text-decoration: underline;
            }
            
        }
    
        .right{
            .phone{
                font-weight: 700;
                font-family: $fonts;
                color: $white-color;
                cursor: pointer;
            }
            .translate{
                .btns{
                    border: none;
                    background: none;
                    font-weight: 700;
                    font-family: $fonts;
                    color: $white-color;
                    cursor: pointer;
                }
                .line{
                    border: 1px solid $white-color;
                }
            }
        }
    }
}
