@import '../../App.scss';


@media(max-width:790px){
    .second{
        width: 100%;
        height: 655px;
        padding-top: 60px;
        .content{
            background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.59)), url(../../img/second.jpg) center / cover;
            height: 535px;
            width: 352px;
            padding: 199px 10px 37px 18px;
            border-radius: 24px;
            img{
                display: none;
            }
            
            .text{
                color: rgba(255, 255, 255, 1) !important;
                width: 324px;
                height: 301px;
                h3{
                    font-size: 32px;
                    line-height: 41.6px;
                    margin-bottom: 18px;
                }
                div{
                    p{
                        font-size: 18px;
                        line-height: 27px;
                        margin-bottom: 28px;
                    }
                    ul{
                        font-size: 14px;
                        line-height: 21px;
                        margin-left: 14px;
                    }
                    
                }
            }
        }
        
    }
}
@media(max-width:1245px) and (min-width:790px){
    .second{
        width: 100%;
        height: 897px;
        padding-top: 100px;
        .content{
            background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.59)), url(../../img/second.jpg) center / cover;
            height: 697px;
            width: 754px;
            padding: 368px 44px 47px;
            border-radius: 24px;
            img{
                display: none;
            }
            
            .text{
                color: rgba(255, 255, 255, 1) !important;
                h3{
                    font-size: 40px;
                    line-height: 52px;
                    margin-bottom: 30px;
                }
                div{
                    width: 667px;
                    height: 200px;
                   p{
                        font-size: 18px;
                        line-height: 27px;
                        margin-bottom: 20px;
                    }
                    ul{
                        font-size: 14px;
                        line-height: 21px;
                        margin-left: 25px;
                    }
                }
            }
        }
        
    }
}
@media(max-width:1280px) and (min-width:1245px){
    .second{
        width: 100%;
        height: 721px;
        padding-top: 100px;
        .content{
            display: flex;
            align-items: center;
            height: 521px;
            grid-gap: 70px;
            img{
                width: 560px;
                height: 521px;
            }
            
            .text{
                h3{
                    font-size: 40px;
                    line-height: 52px;
                    margin-bottom: 30px;
                    color: $h-color;
                }
                div{
                    width: 600px;
                    height: 216px;
                    ul,p{
                        font-size: 18px;
                        line-height: 27px;
                        color: $p-color;
                    }
                    p{
                        margin-bottom: 20px;
                    }
                    ul{
                        margin-left: 25px;
                    }
                }
            }
        }
        
    }
}
@media(min-width:1280px){
    .second{
        width: 100%;
        height: 721px;
        padding-top: 100px;
        .content{
            display: flex;
            align-items: center;
            height: 521px;
            grid-gap: 70px;
            img{
                width: 560px;
                height: 521px;
            }
            
            .text{
                h3{
                    font-size: 40px;
                    line-height: 52px;
                    margin-bottom: 30px;
                    color: $h-color;
                }
                div{
                    width: 600px;
                    height: 216px;
                    ul,p{
                        font-size: 18px;
                        line-height: 27px;
                        color: $p-color;
                    }
                    p{
                        margin-bottom: 20px;
                    }
                    ul{
                        margin-left: 25px;
                    }
                }
            }
        }
        
    }
}
.second{
    background-color: #F4F6F9;
    .content{
        img{
            border-radius: 24px;
        }
        
        .text{
            h3,p{
                font-family: $fonts;
                font-weight: 700;
            }
            div{
                ul{
                    font-family: $fonts;
                    font-weight: 400;
                }
                
            }
        }
    }
    
}