@import '../../App.scss';


@media(max-width:790px){
    .seventh{
        padding: 60px 0;
        h3{
            font-size: 32px;
            line-height: 41.4px;
        }
        .slider{
            margin-top: 40px;
            
            .card{
                width: 100% !important;
                height: 181px !important;
                padding: 10px 0;
                .logo{
                    width: 48px;
                    height: 48px;
                }
                .feedback{
                    width: 290px;
                    height: 161px;
                    padding: 8px 12px;
                    .company{
                        width: 161px;
                        height: 20px;
                        .h{
                            font-size: 16px;
                            line-height: 18.4px;
                        }
                    }
                    p{
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
        
    }
}
@media(max-width:1245px) and (min-width:790px){
    .seventh{
        padding: 100px 0;
        h3{
            font-size: 36px;
            line-height: 41.4px;
        }
        .slider{
            margin-top: 54px;
            
            .card{
                width: 100% !important;
                height: 161px !important;
                padding: 10px 0;
                grid-gap: 10px;
                
                .logo{
                    width: 60px;
                    height: 60px;
                }
                .feedback{
                    width: 665px;
                    height: 141px;
                    padding: 18px 32px;
                    .company{
                        height: 30px;
                        width: 161px;
                        .h{
                            font-size: 16px;
                            line-height: 18.4px;
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
        
    }
}
@media(max-width:1280px) and (min-width:1245px){
    .seventh{
        padding: 100px 0;
        h3{
            font-size: 36px;
            line-height: 41.4px;
        }
        .slider{
            margin-top: 54px ;
            .card{
                width: 100% !important;
                height: 161px !important;
                padding: 10px 0;
                grid-gap: 15px;
                .logo{
                    width: 60px;
                    height: 60px;
                }
                .feedback{
                    width: 692px;
                    height: 141px;
                    padding: 18px 32px;
                    .company{
                        height: 30px;
                        width: 161px;
                        .h{
                            font-size: 16px;
                            line-height: 18.4px;
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
        
    }
}
@media(min-width:1280px){
    .seventh{
        padding: 100px 0;
        h3{
            font-size: 36px;
            line-height: 41.4px;
        }
        .slider{
            margin-top: 54px ;
            .card{
                width: 100% !important;
                height: 161px !important;
                padding: 10px 0;
                grid-gap: 15px;
        
                .logo{
                    width: 60px;
                    height: 60px;
                }
                .feedback{
                    width: 692px;
                    height: 141px;
                    padding: 18px 32px;
        
                    .company{
                        height: 30px;
                        width: 161px;
                        .h{
                            font-size: 16px;
                            line-height: 18.4px;
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
        
    }
}
.seventh{
    h3{
        font-family: $fonts;
        color: $h-color;
        text-align: center;
    }
    .slider{
        .card{
            display: flex !important;
            justify-content: center;
            .logo{
                transform: scale(2);
            }
            .feedback{
                border-radius: 31px;
                background-color: $white-color;
                box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);
                .company{
                    .h{
                        font-family: $fonts;
                        color: $h-color;
                        font-weight: 700;
                    }
                }
                p{
                    font-family: $fonts;
                    color: $h-color;
                    font-weight: 400;
                }
            }
        }
    }
    
}